<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
      <h1><%= link_to post.title, post %></h1>
      <p align="right">Posted <%= time_ago_in_words(post.created_at) %> ago</p>
      <hr>
  <% end %>
</div>
