<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <% if user_signed_in? %>
    <%= link_to "Edit this post", edit_post_path(@post) %> |
    <%= button_to "Destroy this post", @post, method: :delete %> |
  <% end %>
  <%= link_to "Back to posts", posts_path %>
</div>
