<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <%= link_to 'My blog', root_path, class: 'navbar-brand'%>
      <div class="container">
        <p class="navbar-text navbar-right">
          <% if user_signed_in? %>
            <%= link_to "New post", new_post_path, class: 'navbar-link' %>
          <% else %>
            <%= link_to 'Admin login', new_user_session_path, class: 'navbar-link'  %>
          <% end %>
        </p>
      </div>
    </nav>
    <div class="col-md-10 col-md-offset-1">
      <%= yield %>
    </div>
  </body>
</html>
